<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://h3c-smarthome.oss-cn-hangzhou.aliyuncs.com/ios-version/SmartHome-V1.1.1.1-beta.ipa?Expires=1457546518&OSSAccessKeyId=JNjXVaxP0ql3hqHi&Signature=VwWEmuDHLvyR%2Be3szUkc1Jbk2aQ%3D</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://sohord10.h3c.com/appversionios/magic.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://sohord10.h3c.com/appversionios/magic.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.h3c.SmartHome</string>
				<key>bundle-version</key>
				<string>1.1.1.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>SmartHome</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
